html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
header{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.artwork{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.artwork img {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  
}
.artwork img:hover {
  animation: spinn 2s linear infinite
}
.loading-screen, .hidden {
  display: block;
}
@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
